:root {

    --color-main : #ffffff;
    --color-secondary : #ffbb00;
    --color-background : #000000;

    --border-radius: 0px;
    --border-width : 1px;
    --grid-gap : 1px;

    --bp-mobile : 768px;

    --image-cover-size : 14rem;
}

html {
    font-family: system-ui, sans-serif;
    font-size: 1.2rem;
    scroll-behavior: smooth;
    user-select: none;
}

body {
    margin: 0;

    display: grid;
    grid-template: "header" auto 
                    "main" auto 
                    "footer" auto;
    gap: var(--grid-gap);

    background-color: var(--color-background);
    color: var(--color-main);

    > * {
        outline: solid;
        outline-width: var(--border-width);
        outline-color: var(--color-main);
    }
}

main {
    margin: auto;
    padding: 1rem;
    width: unset;

    width: clamp(320px, 100%, 1240px);

    min-height: 66vh;

    outline-width: 0px;
    border: solid 1px var(--color-main);
    border-width: 0 2px;

    box-sizing: border-box;

    hr {
        margin: 0.5rem -1rem;
    }

    @media screen and (max-width: 1240px) {
        border: 0;
    }
}

*::-webkit-scrollbar {
    width: 0.33rem;
    height: 0.33rem;
}
*::-webkit-scrollbar-track {
    background-color: #33333370;
}
*::-webkit-scrollbar-thumb {
    background-color: slategrey;
    outline: 1px solid slategrey;
}

.error {
    color: #ffbbbb;
}