---
import Layout from '../layouts/Layout.astro';
---

<Layout title="g-galery>404">
    <main style="grid-area: main;">
        <h1>404</h1>
        <span class="error">Page not found</span>
    </main>
</Layout>

<style>
    main {
        text-align: center;
    }
</style>