---
const { id, data } = Astro.props;
const dialogData = JSON.stringify(data);
let index = 0
---

<dialog tabindex="-1" data-img={dialogData} data-index={index} id={id} onclick="event.target==this && this.close()">

    <header>
        <button onclick=`document.querySelector('dialog img').classList.toggle('fullscreen')` >⛶</button><button aria-label="Close" onclick=`toggleModal("${id}")`>✖</button>
    </header>

                <div class="img-container">
                    <img onclick=`document.querySelector('dialog img').classList.toggle('fullscreen')` src={data && data[index].baseUrl} alt="Cover">
                    <ul class="img-info" style="display: none;">
                        <li><b>filename</b></li>
                        <li><b>creationTime</b></li>
                        <li>Camera</li>
                        <li>Brand: <b>cameraMake</b></li>
                        <li>Model: <b>cameraModel</b></li>
                        <li>Focal: <b>focalLength</b></li>
                        <li>Apertur: <b>apertureFNumber</b></li>
                        <li>Iso: <b>isoEquivalent</b></li>
                        <li>Exposure: <b>exposureTime</b></li>
                    </ul>
                </div>

        <footer class="img-toolbars">
            <div id=""></div>
            <div id=""> 
                <button id="previous" onclick="findNext(-1)">❰</button>
                <button id="next" onclick="findNext(1)">❱</button> 
            </div>
            <div id="info">
                <button>ℹ️</button>
            </div>
        </footer>
</dialog>

<style>
    dialog {
        animation: fadeOut 200ms ease-in-out 1;
        transition-behavior: allow-discrete;
        border: 0;
        padding: 0;
        overflow: hidden;

        background: var(--color-background);
        border-radius: var(--border-radius);
        outline: solid var(--border-width) var(--color-main);
        box-shadow: 0 0 128px hsla(0, 0%, 0%, 0.33);        

        color: var(--value-white);

        z-index: 2000;       


        button {
            background: none;
            border: none;
            cursor: pointer;
            color: var(--color-main);
            font-size: 1rem;

            &:hover {
                opacity: 0.8;
            }
        }

        .img-container {
            position: relative;

            .fullscreen {
                    position: fixed;
                    top: 0; left: 0;
                    min-width: 100vw !important;
                    min-height: 100vh !important;
                    z-index: 1000;
                    background-color: var(--color-background);
            }

            img {
                max-height: 85vh;

                min-height: 160px;
                min-width: 320px;

                object-fit: contain;
                outline: solid var(--border-width) var(--color-main);

                transition: all 300ms;
                
            }
            .img-info, ul {                
                opacity: 0.8;
                font-size: 0.6rem;

                position: absolute;
                right: 0; bottom: 0;
                margin: 16px;
                padding: 6px;
                list-style: none;
                height: fit-content;
                width: fit-content;

                background: rgba(0, 0, 0, 0.555);
            }
        }
        header {
            padding: 0.2rem 2rem;
            display: flex;
            gap: 0.5rem;
            justify-content: end;
        }
        footer, .img-toolbars {
            display: flex;
            gap: 1rem;
            justify-content: space-between;
            text-align: center;
            padding: 0.2rem 2rem;
        }

    }

    dialog[open] {
        animation: fadeIn 200ms ease-in-out 1;
        transition-behavior: allow-discrete;

        display: grid;
    }
    dialog::backdrop {
        background-color: hsla(0, 0%, 0%, 0);
        backdrop-filter: blur(0px);
        transition: all 150ms;
    }
    dialog[open]::backdrop {
        background-color: hsla(0, 0%, 0%, 0.1);
        backdrop-filter: blur(3px);
    }

    @keyframes fadeIn {
        0%{ display: none; opacity: 0; transform: translateY(-10px) scale(0.99); }
        5%{ opacity: 0;}
        100%{ display: inherit; opacity: 1; transform: unset; }
    }
    @keyframes fadeOut {
        0%{ display: inherit; opacity: 1; transform: unset;	}
        95%{ opacity: 0;}
        100% { opacity: 0; transform: translateY(-10px) scale(0.99); visibility: hidden; display: none;	}
    }
    
</style>

<script is:inline>
    // Event listener
    document.querySelector('#info').addEventListener('mouseenter', (e) => {
        document.querySelector('dialog .img-info').style.display = "block";
    })
    document.querySelector('#info').addEventListener('mouseleave', (e) => { 
        document.querySelector('dialog .img-info').style.display = "none";
    })

    document.querySelector("dialog").onkeydown = logKey;
    function logKey(e) {
        if (e.code == "ArrowRight") findNext(1)
        if (e.code == "ArrowLeft") findNext(-1)
    }

    // Get data
    let data = document.querySelector('dialog').dataset.img
    data = JSON.parse(data)

    // Functions
    function findNext(operator= 1) {
        const index = document.querySelector('dialog').dataset.index
        let newIndex = Number(index)+operator

        if (operator > 0 & index >= data.length-1) {
            newIndex = 0
            console.log("retour au début")
        }
        if (operator < 0 & index <= 0) {
            newIndex = data.length-1
            console.log("a la fin")
        }

        setModalIndex(document.querySelector('dialog'), newIndex)
    }

    function setModalIndex(modal, index) {
        console.log("setModalIndex", index)

        modal.dataset.index = index;
        modal.querySelector('img').src = data[index].baseUrl + "=w2048-h1024";
        modal.querySelectorAll('.img-info > li > b')[0].innerText = data[index].filename;
        modal.querySelectorAll('.img-info > li > b')[1].innerText = data[index].mediaMetadata.creationTime;
        modal.querySelectorAll('.img-info > li > b')[2].innerText = data[index].mediaMetadata.photo.cameraMake;
        modal.querySelectorAll('.img-info > li > b')[3].innerText = data[index].mediaMetadata.photo.cameraModel;
        modal.querySelectorAll('.img-info > li > b')[4].innerText = data[index].mediaMetadata.photo.focalLength;
        modal.querySelectorAll('.img-info > li > b')[5].innerText = data[index].mediaMetadata.photo.apertureFNumber
        modal.querySelectorAll('.img-info > li > b')[6].innerText = data[index].mediaMetadata.photo.isoEquivalent;
        modal.querySelectorAll('.img-info > li > b')[7].innerText = data[index].mediaMetadata.photo.exposureTime;
    }
</script>