---
import Img from '../components/Img.astro';

const { data } = Astro.props;
---

<div>
    {data ? 
        (data.map((item, index) => <Img index={index} id={item.id} url={item.baseUrl} data={item} />)) : (<span class="error">No images</span>)
    }
</div>

<style>
    div {
        margin: 0 -1rem;
        max-width: 95vw;
        overflow-x: scroll;
        overflow-y: hidden;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        display: flex;
        flex-wrap: nowrap;
        
        gap: var(--grid-gap);

        > span {
            margin: 0 1rem;
        }
    }

    img {
        height: calc(var(--image-cover-size)*0.75);
        object-fit: cover;
    }
</style>